body{
	margin-top: 60px;
}
.cnnav{
	margin-left: 10px;
	margin-right: 10px;
}
.main-nav{
	margin-left: 10px;
	font-size: 12px;
}
@media all and (min-width: 1200px){
	.main-nav:hover{
	background-color: cyan;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	}
}
.jumbotron{
	background-image: url(../images/jumboback.png);
	color: floralwhite;
}
.jumboheader{
	font-size: 50px;
	font-weight: bold;
}
.loginbtn{
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}
.badge-danger{
	font-size: 10px;
}