<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">

    <title>Coding Ninjas|Events</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light navbar-expand-lg navbar-lg fixed-top shadow-sm">
      <button class="navbar-toggler" data-toggle='collapse' data-target='#navig'><span class="navbar-toggler-icon"></span></button>
      <a href="{{ url_for('index') }}" class="navbar-brand"><img src="{{ url_for('static',filename='images/cnlogo.svg') }}" width="75" height="28"></a>
      <div class="nav-item main-nav nav-text between d-block d-lg-none" id='left_side_link'>
        <a href="#" class="nav-link text-muted">My Classroom</a>
      </div>
      <div class="btn btn-warning loginbtn px-4 d-block d-lg-none">
        Login
      </div>
      <div class="collapse navbar-collapse " id='navig'>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item main-nav p-1"><a class="nav-link cnnav mt-lg-1" href="#">Home</a></li>
          <li class="nav-item main-nav p-1">
              <div class="dropdown show">
                <a class="nav-link cnnav mt-lg-1 dropdown-toggle" role="button" id="coursedropdown" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#">Courses</a>
                <div class="dropdown-menu" style="width: 820px;" aria-labelledby="coursedropdown">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-6">
                        <div style="border-bottom: solid 2px red;">
                          <h6 class="text-muted">Foundation, Algorithmic & Advanced</h6>
                        </div>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">C++ Foundation with Data Structures</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">JAVA Foundation with Data Structures</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Grokking the Operating Systems interview</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Interview Prepartion Course</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Competitive Programming Course</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Python foundation with Data Structures</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Aptitude Preparation Course</a>
                      </div>
                      <br>
                      <div class="col-sm-6">
                        <div style="border-bottom: solid 2px red;">
                          <h6 class="text-muted">Data & Development</h6>
                        </div>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Advanced front-end web development with React</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Machine Learning and Deep Learning course</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Full Stack Web Development</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Data Science and Machine Learning complete</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Android Development with Kotlin</a>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-6">
                        <div style="border-bottom: solid 2px red;">
                          <h6 class="text-muted">Career Track&nbsp; &nbsp;&nbsp;<span style="background: linear-gradient(to right,green,green,blue); color: white; border-radius:5px"> 25% cashback</span></h6>
                        </div>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Ninja Competitive Programmer Track</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Ninja Android Developer Career Track</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Ninja Web Developer Career Track-NodeJS and ReactJS</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Ninja Web Developer Career Track-NodeJS</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Ninja Data Scientist Career Track</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Ninja Machine Learning Engineer Career Track</a>
                      </div>
                      <div class="col-sm-6">
                        <div style="background: linear-gradient(to right,yellow, gold, yellow, gold); padding: 3px; padding-left: 10px">
                          <h6 class="text-muted">Premium Courses</h6>
                        </div>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Advanced front-end web development with React</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Machine Learning and Deep Learning course</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Full Stack Web Development</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Data Science and Machine Learning complete</a>
                        <a href="#" class="dropdown-item" style="font-size: 12px;">Android Development with Kotlin</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </li>
          <li class="nav-item main-nav p-1">
            <div class="dropdown show">
              <a class="nav-link cnnav mt-lg-1" href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Practice <span class="badge badge-danger">NEW</span></a>
              <div class="dropdown-menu" style="width: 300px">
                <div class="container">
                  <div class="row">
                    <div class="col-10">
                      <div style="border-bottom: solid 2px red" class="text-muted">
                      CodeStudio &nbsp;<span class="badge badge-danger">NEW</span>
                      </div>
                      <a href="#" class="dropdown-item" style="font-size:12px">Code Problems</a>
                      <a href="#" class="dropdown-item" style="font-size:12px">Interview experiences</a>
                      <a href="#" class="dropdown-item" style="font-size:12px">Guided paths &nbsp;<span class="badge badge-danger">NEW</span></a>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-10">
                      <div style="border-bottom: solid 2px red" class="text-muted">
                      CodeZen
                      </div>
                      <a href="#" class="dropdown-item" style="font-size:12px">Dashboard</a>
                      <a href="#" class="dropdown-item" style="font-size:12px">Problems of the day</a>
                      <a href="#" class="dropdown-item" style="font-size:12px">Practice</a>
                      <a href="#" class="dropdown-item" style="font-size:12px">Tests</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item main-nav p-1"><a class="nav-link active cnnav mt-lg-1" href="{{url_for('index')}}">Events</a></li>
          <li class="nav-item main-nav p-1"><a class="nav-link cnnav mt-lg-1" href="#">Campus Ninjas</a></li>
          <li class="nav-item main-nav p-1"><a class="nav-link cnnav mt-lg-1" href="#">Blog</a></li>
          <li class="nav-item main-nav p-1"><a class="nav-link cnnav " href="#"><img src="{{ url_for('static',filename='images/careercamp.svg') }}" width="105" height="25.2667" class="d-none d-lg-block"><img src="{{ url_for('static',filename='images/ca.svg') }}" width="25%" height="25%" class="d-block d-lg-none"></a></li>
        </ul>
      </div>
      <div class="nav-item main-nav nav-text between d-none d-lg-block" id='left_side_link'>
        <a href="#" class="nav-link text-muted">My Classroom</a>
      </div>
      <div class="btn btn-warning loginbtn px-4 d-none d-lg-block">
        Login
      </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="jumboheader">Events & News</h1>
        <h4>Learn, compete and grows</h4>
      </div>
    </div>

    <div class="container" id="events_box">
      <nav class="navbar navbar-light navbar-expand navbar-lg">
        <ul class="list-unstyled navbar-nav justify-content-between w-100">
          <li class="nav-item event_type"><a class="nav-link active eventtablelink" id="alleventslink"><span class="far fa-calendar-alt"></span> All Events</a></li>
          <li class="nav-item event_type"><a class="nav-link" id="webinarslink"><span class="fa fa-tv"></span> Webinars</a></li>
          <li class="nav-item event_type"><a class="nav-link" id="codingeventslink"><span class="fa fa-code"></span> Coding Events</a></li>
          <li class="nav-item event_type"><a class="nav-link" id="bootcamplink"><span class="fa fa-users"></span> Bootcamp Events</a></li>
          <li class="nav-item event_type"><a class="nav-link" id="workshoplink"><span class="fa fa-video"></span> Workshop</a></li>
        </ul>
      </nav>
      <div id="allevents" class="subtables mb-3">
        <nav class="navbar navbar-light navbar-expand navbar-lg">
          <ul class="list-unstyled navbar-nav justify-content-between w-sm-50">
            <li class="nav-item"><a href="" class="nav-link active eventtablelink all1" id="allupcoming">Upcoming</a></li>
            <li class="nav-item"><a href="" class="nav-link all2" id="allarchive">Archived</a></li>
            <li class="nav-item"><a href="" class="nav-link all3" id="allatf">All Time Favourites</a></li>
          </ul>
        </nav>
      </div>
      <div id="webinars" class="subtables mb-3">
        <nav class="navbar navbar-light navbar-expand navbar-lg">
          <ul class="list-unstyled navbar-nav justify-content-between w-sm-50">
            <li class="nav-item"><a href="" class="nav-link active eventtablelink webinar1">Upcoming</a></li>
            <li class="nav-item"><a href="" class="nav-link webinar2">Recorded</a></li>
            <li class="nav-item"><a href="" class="nav-link webinar3">All Time Favourites</a></li>
          </ul>
        </nav>
      </div>
      <div id="codingevents" class="subtables mb-3">
        <nav class="navbar navbar-light navbar-expand navbar-lg">
          <ul class="list-unstyled navbar-nav justify-content-between w-sm-50">
            <li class="nav-item"><a href="" class="nav-link active eventtablelink ce1">Upcoming</a></li>
            <li class="nav-item"><a href="" class="nav-link ce2">Archived</a></li>
            <li class="nav-item"><a href="" class="nav-link ce3">All Time Favourites</a></li>
          </ul>
        </nav>
      </div>
      <div id="bootcamp" class="subtables mb-3">
        <nav class="navbar navbar-light navbar-expand navbar-lg">
          <ul class="list-unstyled navbar-nav justify-content-between w-sm-50">
            <li class="nav-item"><a href="" class="nav-link active eventtablelink bc1">Upcoming</a></li>
            <li class="nav-item"><a href="" class="nav-link bc2">Archived</a></li>
            <li class="nav-item"><a href="" class="nav-link bc3">All Time Favourites</a></li>
          </ul>
        </nav>
      </div>
      <div id="workshop" class="subtables mb-3">
        <nav class="navbar navbar-light navbar-expand navbar-lg">
          <ul class="list-unstyled navbar-nav justify-content-between w-sm-50">
            <li class="nav-item"><a href="" class="nav-link active eventtablelink work1">Upcoming</a></li>
            <li class="nav-item"><a href="" class="nav-link work2">Archived</a></li>
            <li class="nav-item"><a href="" class="nav-link work3">All Time Favourites</a></li>
          </ul>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="row" id="content-row">

          </div>
        </div>
        <div class="col-md-2" id="king_tags">
          <p>TAGS</p>
        </div>
      </div>
      <div class='row pb-3 align-items-center'>
        <div class="offset-xl-8"></div>
        <div class="col-2 col-sm-2 col-xl-1">
          <button class='btn rounded-circle shadow' disabled id='prev' style="background-color:orangered; color: white;"><span class="fa fa-arrow-left"></span></button>
        </div>
        <div class="col-8 col-sm-8 col-xl-2 text-center" id="page_count">
        </div>
        <div class="col-2 col-sm-2 col-xl-1">
          <button class='btn rounded-circle shadow' id='next' style="background-color:orangered; color: white;"><span class="fa fa-arrow-right"></span></button>
        </div>
      </div>      
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/events.js') }}">
    </script>
  </body>
</html>